:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
    --border-color: #ccc;
    --deepskyblue: deepskyblue;
    --lightskyblue: lightskyblue;
    --coral: coral;
}
/* Start Box */
.d-flex {
    display: flex;
}
.align-center {
    align-items: center;
}
.f-wrap {
    flex-wrap: wrap;
}
/* End Box */
/* Start Grid */
.d-grid {
    display: grid;
}
.gap-20 {
    gap: 20px;
}
.d-block {
    display: block;
}
@media (max-width: 767px) {
    .block-mobile {
        display: block;
    }
    .hide-mobile {
        display: none;
    }
}
/* End Grid */
/* Start Width and Hight */
.w-full {
    width: 100%;
}
.w-fit {
    width: fit-content;
}
.h-full {
    height: 100%;
}
.over-hidden {
    overflow: hidden;
}
/* End Width and Hight */
/* Start Padding & Margin */
.p-10 {
    padding: 10px;
}
.p-15 {
    padding: 15px;
}
.p-20 {
    padding: 20px;
}
.pt-15 {
    padding-top: 15px;
}
.pt-20 {
    padding-top: 20px;
}
.pb-10 {
    padding-bottom: 10px;
}
.pb-15 {
    padding-bottom: 15px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pl-15 {
    padding-left: 15px;
}
.m-0 {
    margin: 0;
}
.m-15 {
    margin: 15px;
}
.m-20 {
    margin: 20px;
}
.mt-0 {
    margin-top: 0;
}
.mt-5 {
    margin-top: 5px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-15 {
    margin-top: 10px;
}
.mt-20 {
    margin-top: 15px;
}
.mt-25 {
    margin-top: 25px;
}
.mr-10 {
    margin-right: 10px;
}
.mr-15 {
    margin-right: 15px;
}
.mb-0 {
    margin-bottom: 0px;
}
.mb-5 {
    margin-bottom: 5px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-20 {
    margin-bottom: 20px;
}
.ml-10 {
    margin-left: 10px;
}
/* End Padding & Margin */
/* Start Color */
.bg-white {
    background-color: white;
}
.bg-eee {
    background-color: #eee;
}
.bg-blue {
    background-color: var(--blue-color);
}
.bg-orange {
    background-color: var(--orange-color);
}
.bg-green {
    background-color: var(--green-color);
}
.bg-red {
    background-color: var(--red-color);
}
.c-white {
    color: white;
}
.c-red {
    color: var(--red-color)
}
.c-black {
    color: black;
}
.c-gray {
    color: var(--grey-color);
}
.c-blue {
    color: var(--blue-color);
}
.c-orange {
    color: var(--orange-color)
}
.c-green {
    color: var(--green-color);
}
.c-deepblue {
    color: var(--deepskyblue);
}
.c-coral {
    color: var(--colar);
}
/* End Color */
/* Start Position */
.p-relative {
    position: relative;
}
/* End Position */
/* Start Font */
.txt-c {
    text-align: center;
}
.fs-13 {
    font-size: 13px;
}
.fs-14 {
    font-size: 14px;
}
.fs-15 {
    font-size: 15px;
}
.fs-25 {
    font-size: 25px;
}
.fw-bold {
    font-weight: bold;
}
@media (max-width: 767px) {
    .txt-c-mobile {
        text-align: center;
    }
}
/* End Font */
/* Start Border */
.b-none {
    border: none
}
.red-6 {
    border-radius: 6px;
}
.red-10 {
    border-radius: 10px;
}
.red-half {
    border-radius: 50%;
}
.border-ccc {
    border: 1px solid #ccc;
}
/* Start Border */
/* Start Component */
.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-shape {
    padding: 4px 10px;
    border-radius: 6px;
}
.widget {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
/* End Component */
/* Start Latest Uploads */
.latest-uploads ul li:not(:last-of-type) {
    border-bottom: 1px solid #eee;
}
.latest-uploads ul li img {
    width: 40px;
}
/* End Latest Uploads */
/* Start Btn Checkbox */
.toggle-checkbox {
    appearance: none;   
    display: none;
}
.toggle-switch {
    background-color: #ccc;
    width: 50px;
    height: 24px;
    border-radius: 16px;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
}
.toggle-switch::before {
    content: '\f00d';
    font-family: var(--fa-style-family-classic);
    font-weight: 900;
    background-color: white;
    width: 18px;
    height: 18px;
    position: absolute;
    border-radius: 50%;
    top: 3px;
    left: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
    transition: 0.3s;
}
.toggle-checkbox:checked + .toggle-switch {
    background-color: var(--blue-color);
}
.toggle-checkbox:checked + .toggle-switch::before {
    content: '\f00c';
    left: 30px;
    color: var(--blue-color);
    transition: 0.3s;
}

@media (max-width: 767px) {
    .toggle-switch {
        background-color: #ccc;
        width: 45px;
        height: 23px;
        border-radius: 10px;
        position: relative;
        transition: 0.3s;
        cursor: pointer;
    }
    .toggle-checkbox:checked + .toggle-switch::before {
        content: '\f00c';
        left: 24px;
        color: var(--blue-color);
        transition: 0.3s;
    }
    .toggle-switch::before {
        content: '\f00d';
        font-family: var(--fa-style-family-classic);
        font-weight: 900;
        background-color: white;
        width: 17px;
        height: 17px;
        position: absolute;
        border-radius: 50%;
        top: 3px;
        left: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #aaa;
        transition: 0.3s;
    }
}
/* End Btn Checkbox */